@import "preflight.scss";
@import "~bootstrap/scss/bootstrap";

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
}



button {
  background-color: inherit;
}

* {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

span,
code {
  font-family: inherit;
}

@font-face {
  font-family: NCascadiaCode;
  src: url("../assets/fonts/Caskaydia Cove Nerd Font Complete Mono.ttf");
}

// color scheme
$white: #ffffffff;
$black: #071e22ff;

$firstAccent: #2e294e;
$secondAccent: #824c71ff;
$thirdAccent: #a4b0f5ff;
$fourthAccent: #0c8346ff;

$headerAccent: #be97c6;
$signUpBG: #8661c1;

$fadedBackground: #e7dbea;
$greyFaded: #91969a;

$panelBG: #cbd2fb;

.name {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  z-index: 10000;

  background: linear-gradient(180deg, #ffffff 0%, #f6f6f6 100%);

  .headerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-self: start;

    .headerIcon {
      font-size: 30px;
    }

    .headerLogoText {
      color: $firstAccent;
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      margin-left: 10px;

      .headerAccent {
        color: $headerAccent;
      }
    }
  }

  .headerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;

    .headerLink {
      text-align: center;
      color: $greyFaded;
      font-size: 16px;
      font-weight: 600;
    }

    .active {
      color: $black  !important;
    }
  }

  .headerEndContainer {
    display: flex;
    flex-direction: row;
    justify-self: end;

    font-weight: 600;

    .userImage {
      width: 36px;
      height: 36px;
      align-self: center;
    }


    .points {
      display: flex;
      background: $fadedBackground;
      padding: 10px;
      border-radius: 8px;
      margin-left: 15px;
      height: min-content;

      .pointsText {
        font-size: 14px;
        color: $black;
      }

      .pointsIcon {
        margin-right: 10px;
        font-size: 20px;
        color: $black;
      }
    }
  }
}

.splash {
  display: flex;
  margin-left: 80px;
  margin-right: 70px;
  margin-top: 60px;
  justify-content: center;

  .splashTextContainer {
    width: 55vw;
    display: flex;
    justify-items: start;

    .splashText {
      font-weight: 600;
      font-size: 90px;
      color: $firstAccent;
      line-height: 1.1;
    }
  }

  .splashSide {
    display: flex;
    flex-grow: 0;
    width: 270px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .splashSideText {
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: $firstAccent;
    }

    .splashButton {
      margin-top: 8px;

      padding: 12px 12px;
      background-color: $firstAccent;
      border-radius: 10px;

      p {
        font-size: 16px;
        color: $white;
      }
    }
  }
}

.basicsDivider {
  border-bottom: #0c83464d solid 2px;
  border-radius: 10px;
  margin: 80px 4vw 30px;
}

.basicsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .basicsText {
    color: $fourthAccent;
    text-align: center;
    width: 100%;

    font-size: 44px;
    font-weight: 600;
  }
}

.advancedPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;

  .advancedText {
    color: $secondAccent;
    text-align: center;
    width: 100%;

    font-size: 44px;
    font-weight: 600;
  }
}

.panelContainer {
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  margin-left: -50px;

  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $panelBG;
    border-radius: 20px;

    margin-left: 50px;
    padding: 20px 20px;

    width: 350px;

    .panelIcon {
      color: $firstAccent;
    }

    .panelHeader {
      margin-top: 14px;
      color: #0b0a0b;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .panelDesc {
      font-size: 20px;
      text-align: center;
      color: $black;
      line-height: 1.2;
    }

    .panelLink {
      margin-top: 16px;
      font-weight: 500;
      font-size: 20px;
      transform: translateX(0px);
      transition: transform 500ms ease-out;
      color: $black;

      &:hover {
        transform: translateX(10px);
      }
    }
  }
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;

  .topLinks {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    width: 100%;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -8px;

      .icon {
        width: 13px;
      }

      p {
        margin: 0 8px;
        font-weight: 600;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 1000px;
    margin-bottom: 20px;

    .headerText {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
      padding: 0px 70px;

      .headerTitle {
        font-size: 44px;
        font-weight: 600;
        padding: 10px 0;
        line-height: 1.1;
      }

      .headerSubtitle {
        font-size: 28px;
        padding: 5px 0;
      }
    }

    .headerImage {
      width: 350px;
      height: auto;
    }
  }

  .body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;

    .textBody {
      padding: 30px 100px;

      .textHeading {
        font-size: 34px;
        font-weight: 600;
      }

      .textBodyMain {
        font-size: 22px;
        line-height: 1.2;
      }
    }

    .question {
      padding: 15px 0;
      border: 0px solid #0c83464d;
      border-width: 2px 0px;
      width: 750px;
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .questionHeading {
        display: flex;
        justify-content: start;
        margin-bottom: 4px;
        padding: 10px 30px;
        align-items: center;

        align-self: stretch;

        .header {
          font-weight: 500;
          font-size: 44px;
          color: $fourthAccent;
          width: auto;
          margin: 0;
          margin-right: 16px;
        }

        .text {
          font-weight: 500;
          font-size: 24px;
          color: $black;

          margin: auto 0px;
        }
      }

      .answerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .answerWrapper {
          border-radius: 16px;
          padding: 12px 24px;

          margin: 6px 20px;

          .answer {
            display: flex;
            padding: 16px 0;
            border-left: 4px solid $secondAccent;

            .radio {
              width: 40px;
              margin-left: 15px;
              margin-right: 10px;
            }

            &:hover+.radio {
              background-color: #ccc;
            }

            .text {
              font-weight: 500;
              font-size: 20px;
              color: $black;
            }

            .radio:focus+.text {
              color: $white;
            }
          }
        }
      }

      .questionSubmit {
        margin-top: 20px;
        background-color: $signUpBG;
        padding: 15px 20px;
        border-radius: 8px;
        height: min-content;

        display: flex;
        width: min-content;
        align-self: center;

        .questionText {
          font-size: 24px;
          color: $white;
          font-weight: 600;
        }
      }

      .confirmText {
        margin-top: 15px;
        color: $fourthAccent;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .textWithCode {
      padding: 40px 0px;
      margin: 0 -30px;
      display: flex;
      align-items: center;

      .textCodeBody {
        margin-left: 50px;
        padding: 10px 0px;

        .textHeading {
          font-size: 34px;
          font-weight: 600;
        }

        .textBodyMain {
          font-size: 22px;
        }
      }

      .code {
        font-family: NCascadiaCode;
      }
    }
  }
}

.form {
  display: flex;
  padding-top: 65px;
  height: 100vh;
  background-color: #f4f9fd;
  justify-content: center;
  align-items: center;

  font-family: Inter;

  .formWrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    width: 400px;
  }
}

.button {
  .signInButton {
    background-color: $signUpBG;
    padding: 10px;
    border-radius: 8px;
    height: min-content;
    margin-left: 15px;

    .signInText {
      font-size: 14px;
      color: $white;
    }
  }
}